# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# next.js
.next/
out/

# production
build/
dist/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env
.env
.env*.local

# prisma
prisma/dev.db
prisma/dev.db-journal
prisma/prisma/dev.db
prisma/prisma/dev.db-journal

# typescript
*.tsbuildinfo
