onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=@prisma/client
onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=prisma
onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=unrs-resolver
verify-deps-before-run=false
